.section-wrapper {
  margin-top: 2%;
  h3 {
    color: navy;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  .form {
    label {
      font-weight: 500;
      font-size: 16px;
      margin-top: 15px;
    }

    .text {
      opacity: 0.5;
      border: 0.5px solid #1c1c1c;
      border-radius: 10px;
    }

    .error {
      font-size: 13px;
      color: #b22b27;
    }
  }

  button {
    padding: 0.6rem 1.2rem;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #f27e4c;
    margin-top: 20px;
  }
  button:hover {
    background: #b33b06;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
