.section-wrapper {
  margin-top: 2%;
  h3 {
    color: navy;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }
  // .main_section {
  //   width: 100%;
  //   // display: inline-flex;
  //   height: 100%;
  //   // display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // h4 {
  //   border-bottom: 1.5px solid gray;
  //   color: navy;
  //   font-family: Times New Roman;
  //   font-size: 25px;
  //   font-weight: bold;
  //   line-height: 24px;
  //   padding: 5px;
  //   text-align: center;
  //   margin-top: 10px;
  // }

  .form {
    label {
      font-weight: 500;
      font-size: 16px;
      margin-top: 15px;
    }

    .text {
      opacity: 0.5;
      border: 0.5px solid #1c1c1c;
      border-radius: 10px;
    }

    .error {
      font-size: 13px;
      color: #b22b27;
    }
  }

  button {
    padding: 0.6rem 1.2rem;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #f27e4c;
    margin-top: 20px;
  }
  button:hover {
    background: #b33b06;
  }
}
